[submodule ".config/awesome/widgets/awesome-switcher-macstyle"]
	path = .config/awesome/widgets/awesome-switcher-macstyle
	url = https://github.com/wyv3rn/awesome-switcher-macstyle.git
[submodule ".config/awesome/widgets/calendar"]
	path = .config/awesome/widgets/calendar
	url = https://github.com/deficient/calendar.git
[submodule ".config/awesome/widgets/awesome-wm-widgets"]
	path = .config/awesome/widgets/awesome-wm-widgets
	url = https://github.com/wyv3rn/awesome-wm-widgets.git
[submodule ".config/awesome/widgets/volume-control"]
	path = .config/awesome/widgets/volume-control
	url = https://github.com/coldfix/awesome.volume-control.git
[submodule ".config/alacritty/catppuccin"]
	path = .config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
