command <A-d>
search <A-i>

zoom_in <A-b>
zoom_out <A-t>

fit_to_page_height a
close_window q

overview_link o

visual_mark_under_cursor <C-v>
select_ruler_text V

add_freetext_bookmark i
edit_selected_bookmark e
move_selected_bookmark c

toggle_freehand_drawing_mode v
delete_freehand_drawings x

next_state <C-i>
prev_state <C-t>
prev_state <C-o>

goto_beginning;fit_to_page_height gg
goto_end;fit_to_page_height G

previous_page;fit_to_page_height <pageup>
next_page;fit_to_page_height <pagedown>
next_page;fit_to_page_height }
next_page;fit_to_page_height <A-e>
next_page;fit_to_page_height <C-d>
previous_page;fit_to_page_height {
previous_page;fit_to_page_height <A-a>
previous_page;fit_to_page_height <C-u>
