theme = "catppuccin_frappe"

[editor]
line-number = "relative"
auto-completion = true
auto-format = false

[editor.cursor-shape]
insert = "bar"

[editor.soft-wrap]
enable = true

[keys.normal."space"]
x = ":config-open"
X = ":config-reload"
